<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhizhao.jwgl.jiaowuguanli.mapper.BanJiMapper">
    <!-- 查询班级列表 -->
    <resultMap id="banJiLieBiaoResult" type="com.zhizhao.jwgl.jiaowuguanli.dto.DtoBanJi">
        <id column="id" property="id"/>
        <association property="paiKeCiShu" select="getBanJiPaiKeCiShu" column="{ban_ji_id = id}"/>
        <association property="yiShangKeCiShu" select="getBanJiYiShangKeCeShu" column="{ban_ji_id=id}"/>
        <collection property="banJiXueYuanZu" column="{ban_ji_id=id}" select="huoQuBanJiXueYuan"></collection>
    </resultMap>
    <select id="huoQuBanJiLeiBiao" resultMap="banJiLieBiaoResult">
        select
            A.id, A.ming_cheng, A.rong_liang, A.yi_shou_ke_shi,
            B.ming_cheng as keChengMingCheng,
            D.xing_ming as banJiLaoShiXingMing,
            E.ming_cheng as banJiFenLeiMingCheng
        from ban_ji A
        left join ke_cheng B
        on A.ke_cheng_id = B.id
        left join lao_shi C
        on A.ban_ji_lao_shi_id = C.id
        left join zhang_hao D
        on C.zhang_hao_id = D.id
        left join ban_ji_fen_lei E
        on A.ban_ji_fen_lei_id = E.id
        <where>
            A.is_deleted = 0
        </where>
        order by A.update_time desc
    </select>
    <select id="getBanJiRenShu" resultType="integer">
        select count(*) from ban_ji_ban_ji_xue_yuan_zu A where A.ban_ji_id = #{ban_ji_id} and A.is_deleted = 0
    </select>
    <select id="getBanJiPaiKeCiShu" resultType="integer">
        select count(*)
        from ban_ji_pai_ke_xin_xi A
        join pai_ke_ji_lu B
        on B.ban_ji_pai_ke_xin_xi_id = A.id
        where
          A.ban_ji_id = #{ban_ji_id}
        and A.is_deleted = 0
        and B.is_deleted = 0
    </select>
    <select id="getBanJiYiShangKeCeShu" resultType="integer">
        select count(*)
        from ban_ji_pai_ke_xin_xi A
        join pai_ke_ji_lu B
        on B.ban_ji_pai_ke_xin_xi_id = A.id
        where A.ban_ji_id = #{ban_ji_id}
        and A.is_deleted = 0
        and B.is_deleted = 0
        and B.pai_ke_ji_lu_zhuang_tai = 'YI_DIAN_MING'
    </select>
    <!-- 查询班级列表 end -->

    <!-- 获取班级详情 -->
    <resultMap id="banJiXiangQingResult" type="com.zhizhao.jwgl.jiaowuguanli.dto.DtoBanJi">
        <id column="id" property="id"/>
        <collection property="banJiXueYuanZu" column="{ban_ji_id=id}" select="huoQuBanJiXueYuan"></collection>
    </resultMap>
    <select id="huoQuBanJiXiangQing" resultMap="banJiXiangQingResult">
        select
        A.id, A.ming_cheng, A.rong_liang, A.shou_ke_ke_shi as moRenShouKeKeShi, A.bei_zhu,
        B.id as keChengId, B.ming_cheng as keChengMingCheng, B.qing_jia_kou_ke_shi, B.wei_dao_kou_ke_shi,
        C.id as shangKeJiaoShiId, C.ming_cheng as shangKeJiaoShi,
        D.id as banJiLaoShiId, E.xing_ming as banJiLaoShiXingMing,
        F.ming_cheng as banJiFenLeiMingCheng
        from ban_ji A
        left join ke_cheng B
        on A.ke_cheng_id = B.id
        left join shang_ke_jiao_shi C
        on A.shang_ke_jiao_shi_id = C.id
        left join lao_shi D
        on A.ban_ji_lao_shi_id = D.id
        left join zhang_hao E
        on D.zhang_hao_id = E.id
        left join ban_ji_fen_lei F
        on A.ban_ji_fen_lei_id = F.id
        <where>
            A.is_deleted = 0
            and A.id = #{id}
        </where>
    </select>
    <select id="huoQuBanJiXueYuan" resultType="com.zhizhao.jwgl.jiaowuguanli.domain.banji.BanJiXueYuan">
        select
               A.ban_ji_id, A.xue_yuan_id, A.created_at, A.is_deleted
        from ban_ji_ban_ji_xue_yuan_zu A
        <where>
            A.ban_ji_id = #{ban_ji_id}
            and A.is_deleted = 0
        </where>
    </select>
    <!-- 获取班级详情 end -->

    <!-- 根据课程Id，获取班级列表 -->
    <select id="huoQuBanJiByKeChengId" resultType="com.zhizhao.jwgl.jiaowuguanli.dto.DtoBanJi">
        select A.id, A.ming_cheng, B.xing_ming as banJiLaoShiXingMing
        from ban_ji A
        left join zhang_hao B
        on A.ban_ji_lao_shi_id = B.id
        <where>
            A.is_deleted = 0
            and A.ke_cheng_id = #{keChengId}
        </where>
    </select>

    <!-- 根据班级id，获取班级学员 -->
    <resultMap id="banJiXueYuanResult" type="com.zhizhao.jwgl.jiaowuguanli.dto.DtoBanJiXueYuan">
        <association property="xueYuanKeCheng" select="getXueYuanKeChengByXueYuanIdAndKeChengId" column="{xueYuanId=xueYuanId,keChengId=keChengId }"></association>
    </resultMap>
    <select id="huoQuBanJiXueYuanByBanJiId" resultMap="banJiXueYuanResult">
        select A.id as banJiId, A.ke_cheng_id as keChengId, B.xue_yuan_id as xueYuanId, C.xing_ming as xueYuanXingMing, C.xing_bie, D.shou_ji
        from
            ban_ji A
        join ban_ji_ban_ji_xue_yuan_zu B
            on B.ban_ji_id = A.id and B.is_deleted = 0
        join xue_yuan C
            on B.xue_yuan_id = C.id
        join zhang_hao D
            on C.zhang_hao_id = D.id
        <where>
            A.is_deleted = 0
            and A.id = #{banJiId}
        </where>
    </select>
    <select id="getXueYuanKeChengByXueYuanIdAndKeChengId" resultType="com.zhizhao.jwgl.jiaowuguanli.dto.DtoXueYuanKeCheng">
        select A.id, A.sheng_yu_ke_shi, A.ke_cheng_zhuang_tai, A.ke_cheng_lei_xing, A.dan_jia, A.ke_cheng_shu_liang, A.zeng_song_ke_shi, A.you_hui_lei_xing, A.you_hui_shu_liang, A.bei_zhu,
               B.ming_cheng as keChengMingCheng
        from xue_yuan_ke_cheng A
        join ke_cheng B
            on A.ke_cheng_id = B.id
        <where>
            A.is_deleted = 0
            and A.xue_yuan_id = #{xueYuanId}
            and A.ke_cheng_id = #{keChengId}
        </where>
    </select>
    <!-- 根据班级id，获取班级学员 end -->

    <!-- 根据学员id，获取班级列表 -->
    <select id="huoQuBanJiByXueYuanId" resultType="com.zhizhao.jwgl.jiaowuguanli.dto.DtoBanJi">
        select distinct A.id, A.ming_cheng
        from ban_ji A
        join ban_ji_ban_ji_xue_yuan_zu B
        on B.ban_ji_id = A.id
        <where>
            B.xue_yuan_id = #{xueYuanId}
        </where>
    </select>
    <!-- 根据学员id，获取班级列表 end -->

    <!-- 获取所有班级 -->
    <select id="huoQuBanJiAll" resultType="com.zhizhao.jwgl.jiaowuguanli.dto.DtoBanJi">
        select A.id, A.ming_cheng
        from ban_ji A
        order by A.update_time desc
    </select>
    <!-- 获取所有班级 end-->
</mapper>
