<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhizhao.jwgl.jiaowuguanli.mapper.JueSeMapper">
    <select id="selectAll" resultType="com.zhizhao.jwgl.jiaowuguanli.domain.juese.JueSe">
        select * from jue_se a where is_deleted = 0
    </select>
</mapper>
