<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhizhao.jwgl.jiaowuguanli.mapper.KeChengMapper">
    <!-- 获取课程列表 -->
    <resultMap id="keChengResult" type="com.zhizhao.jwgl.jiaowuguanli.dto.DtoKeCheng">
        <!-- 定价标准组列json格式转换 -->
        <result column="ding_jia_biao_zhun_zu" property="dingJiaBiaoZhunZu" jdbcType="VARCHAR" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
        <association property="zaiDuXueYuanShu" select="getZaiDuXueYuanShu" column="{ke_cheng_id=id}">
        </association>
    </resultMap>
    <select id="getKeChengLieBiao" resultMap="keChengResult">
        select * from ke_cheng ${ew.customSqlSegment} order by create_time desc
    </select>
    <select id="getZaiDuXueYuanShu" resultType="integer">
        select count(*) from xue_yuan_ke_cheng A
        <where>
            A.ke_cheng_id = #{ke_cheng_id}
            and A.ke_cheng_zhuang_tai in ('DAI_BU_JIAO', 'DAI_PAI_KE', 'DAI_SHANG_KE', 'DAI_JIE_KE')
        </where>
    </select>
    <!-- 获取课程列表 end-->

    <select id="selectAll" resultType="com.zhizhao.jwgl.jiaowuguanli.domain.kecheng.KeCheng">
        select A.id, A.ming_cheng from ke_cheng A
        <where>
            A.is_deleted = 0
            and A.qi_yong_zhuang_tai = 1
            order by A.update_time desc
        </where>
    </select>
</mapper>
