<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhizhao.jwgl.jiaowuguanli.mapper.PaiKeJiLuMapper">
    <resultMap id="dtoPaiKeJiLu" type="com.zhizhao.jwgl.jiaowuguanli.dto.DtoPaiKeJiLu">
        <result column="pai_ke_gui_ze" property="paiKeGuiZe" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"></result>
        <association property="shangKeXueYuanZu" column="{pai_ke_ji_lu_id=id, ke_cheng_id=ke_cheng_id}" select="getPaiKeJiLuShangKeXueYuan"/>
    </resultMap>
    <select id="getPaiKeJiLuList" resultMap="dtoPaiKeJiLu">
        select A.id, A.ban_ji_pai_ke_xin_xi_id, A.shang_ke_ri_qi, A.shang_ke_lao_shi_id, A.shang_ke_jiao_shi_id,
               A.shang_ke_shi_jian_start, A.shang_ke_shi_jian_end, A.shou_ke_ke_shi, A.shang_ke_nei_rong, A.pai_ke_ji_lu_zhuang_tai,
               A.dian_ming_shi_jian,
               B.pai_ke_gui_ze,
               C.xing_ming as shangKeLaoShiXingMing,
               D.ming_cheng as shangKeJiaoShiMingCheng,
               E.ke_cheng_id, E.id as banJiId, E.ming_cheng as banJiMingCheng,
               F.ming_cheng as keChengMingCheng
        from ban_ji_pai_ke_xin_xi B
        join pai_ke_ji_lu A
            on A.ban_ji_pai_ke_xin_xi_id = B.id
        left join lao_shi C
            on A.shang_ke_lao_shi_id = C.id
        left join shang_ke_jiao_shi D
            on A.shang_ke_jiao_shi_id = D.id
        join ban_ji E on B.ban_ji_id = E.id
        join ke_cheng F on E.ke_cheng_id = F.id
        <where>
            A.is_deleted = 0
            and B.is_deleted = 0
            <if test="banJiId!=null">
                and B.ban_ji_id = #{banJiId}
            </if>
            <if test="shangKeLaoShiId!=null">
                and A.shang_ke_lao_shi_id=#{shangKeLaoShiId}
            </if>
            <if test="null != paiKeJiLuZhuangTaiZu and paiKeJiLuZhuangTaiZu.size > 0">
                and A.pai_ke_ji_lu_zhuang_tai in
                <foreach collection="paiKeJiLuZhuangTaiZu" item="paiKeJiLuZhuangTai" open="(" separator=","  close=")">
                    #{paiKeJiLuZhuangTai}
                </foreach>
            </if>
            <if test="shangKeRiQiBegin!=null">
                and A.shang_ke_ri_qi <![CDATA[ > ]]> #{shangKeRiQiBegin}
            </if>
            <if test="shangKeRiQiEnd!=null">
               and A.shang_ke_ri_qi <![CDATA[ < ]]> #{shangKeRiQiEnd}
            </if>
            <if test="shangKeRiQiEnd==null">
                order by A.update_time desc
            </if>
        </where>
    </select>
    <select id="getPaiKeJiLuShangKeXueYuan" resultType="com.zhizhao.jwgl.jiaowuguanli.dto.DtoShangKeXueYuan">
        select A.pai_ke_ji_lu_id, A.shang_ke_xue_yuan_lei_xing, A.xue_yuan_id, A.bu_ke_ji_lu_id, A.shi_ting_ji_lu_id,
               B.xing_ming as xueYuanXingMing,
               C.bei_zhu, C.kou_chu_ke_shi, C.shang_ke_xue_yuan_lei_xing, C.xue_yuan_dao_ke_zhuang_tai, C.ke_xiao_jine,
               D.sheng_yu_ke_shi,
               E.shou_ji
        from pai_ke_ji_lu_shang_ke_xue_yuan_zu A
        join xue_yuan B
            on A.xue_yuan_id = B.id
        left join dian_ming_ji_lu C on A.xue_yuan_id = C.xue_yuan_id and C.pai_ke_ji_lu_id = #{pai_ke_ji_lu_id}
        left join xue_yuan_ke_cheng D on A.xue_yuan_id = D.xue_yuan_id and D.ke_cheng_id = #{ke_cheng_id} and D.is_deleted = 0
        join zhang_hao E on B.zhang_hao_id = E.id
        <where>
            A.is_deleted = 0
            and B.is_deleted = 0
            and A.pai_ke_ji_lu_id = #{pai_ke_ji_lu_id}
        </where>
    </select>

    <!-- 根据排课记录Id，查询排课记录，课后点评 -->
    <resultMap id="paiKeJiLuKeHouDianPingResult" type="com.zhizhao.jwgl.jiaowuguanli.dto.DtoPaiKeJiLu">
        <!-- 上课学员组 -->
        <association property="shangKeXueYuanZu" column="{pai_ke_ji_lu_id=id}" select="getShangKeXueYuanZu"/>
        <!-- 课后点评组 -->
        <association property="chengZhangJiLuZu" column="{pai_ke_ji_lu_id=id}" select="getPaiKeJiLuShangKeXueYuanKeHouDianPing" />
    </resultMap>
    <resultMap id="xueYuanKeHouDianPingResult" type="com.zhizhao.jwgl.jiaowuguanli.dto.DtoChengZhangJiLu">
        <association property="chengZhangJiLuWenJianZu" column="{cheng_zhang_ji_lu_id=id}" select="getChengZhangJiLuWenJian"/>
    </resultMap>
    <select id="getPaiKeJiLuKeHouDianPingById" resultMap="paiKeJiLuKeHouDianPingResult">
        select A.id, A.shang_ke_ri_qi, A.shang_ke_shi_jian_start, A.shang_ke_shi_jian_end, A.shang_ke_lao_shi_id, A.shang_ke_nei_rong, A.pai_ke_ji_lu_zhuang_tai,
               B.xing_ming as shangKeLaoShiXingMing
        from pai_ke_ji_lu A
        join lao_shi B on A.shang_ke_lao_shi_id = B.id
        <where>
            A.id = #{id}
        </where>
    </select>
    <select id="getShangKeXueYuanZu" resultType="com.zhizhao.jwgl.jiaowuguanli.dto.DtoShangKeXueYuan">
        select A.pai_ke_ji_lu_id, A.xue_yuan_id, A.shang_ke_xue_yuan_lei_xing,
               B.xue_yuan_dao_ke_zhuang_tai,
               C.xing_ming as xueYuanXingMing, C.tou_xiang
        from pai_ke_ji_lu_shang_ke_xue_yuan_zu A
        left join dian_ming_ji_lu B on B.xue_yuan_id = A.xue_yuan_id and B.pai_ke_ji_lu_id = A.pai_ke_ji_lu_id
        left join xue_yuan C on C.id = A.xue_yuan_id
        <where>
            A.pai_ke_ji_lu_id = #{pai_ke_ji_lu_id}
            and A.is_deleted = 0
        </where>
    </select>
    <select id="getPaiKeJiLuShangKeXueYuanKeHouDianPing" resultMap="xueYuanKeHouDianPingResult">
        select A.id, A.cheng_zhang_ji_lu_lei_xing, A.jia_zhang_yi_du, A.nei_rong, A.xue_yuan_id, A.pai_ke_ji_lu_id
        from cheng_zhang_ji_lu A
        <where>
            A.pai_ke_ji_lu_id = #{pai_ke_ji_lu_id}
            and A.cheng_zhang_ji_lu_lei_xing = 'KE_HOU_DIAN_PING'
        </where>
    </select>
    <select id="getChengZhangJiLuWenJian" resultType="com.zhizhao.jwgl.jiaowuguanli.dto.DtoChengZhangJiLuWenJian">
        select A.cheng_zhang_ji_lu_id, B.id, B.ming_cheng, B.hou_zhui, B.oss_key, B.oss_bucket_name, B.da_xiao
        from cheng_zhang_ji_lu_cheng_zhang_ji_lu_wen_jian_zu A
        join cheng_zhang_ji_lu_wen_jian B on A.cheng_zhang_ji_lu_wen_jian_id = B.id and B.is_deleted = 0
        <where>
            A.cheng_zhang_ji_lu_id = #{cheng_zhang_ji_lu_id}
        </where>
    </select>
    <!-- 根据排课记录Id，查询排课记录，课后点评 end -->

    <!-- 根据排课信息Id，上课学员Id。获取包含该学员的，所有【待点名】的上课排课记录 -->
    <select id="getPaiKeJiLuByPaiKeXinXiIdZuAndShangKeXueYuan"
            resultType="com.zhizhao.jwgl.jiaowuguanli.domain.paike.PaiKeJiLu">
        select A.*
        from pai_ke_ji_lu A
        join pai_ke_ji_lu_shang_ke_xue_yuan_zu B on B.pai_ke_ji_lu_id = A.id
        <where>
            A.pai_ke_ji_lu_zhuang_tai = 'DAI_DIAN_MING'
            and A.ban_ji_pai_ke_xin_xi_id in
            <foreach collection="paiKeXinXinXiIdList" item="paiKeXinXinXiId" open="(" separator=","  close=")">
                #{paiKeXinXinXiId}
            </foreach>
            and B.is_deleted = 0
            and B.xue_yuan_id = #{shangKeXueYuanId}
        </where>
    </select>
    <!-- 根据排课信息Id，上课学员Id。获取包含该学员的，所有【待点名】的上课排课记录 end -->
</mapper>
