<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhizhao.jwgl.jiaowuguanli.mapper.ZhangHaoMapper">
    <!-- 获取账号列表 -->
    <resultMap id="zhangHaoResult" type="com.zhizhao.jwgl.jiaowuguanli.vo.ZhangHaoVo">
        <id column="id" property="id"/>
        <collection property="jueSeZu" select="selectYongHuJueSe" column="id">
        </collection>
    </resultMap>
    <select id="yuanGongLieBiao" resultMap="zhangHaoResult">
        select * from zhang_hao ${ew.customSqlSegment} order by create_time desc
    </select>
    <select id="selectYongHuJueSe" resultType="string">
        SELECT B.ming_cheng
        FROM zhang_hao_jue_se_zu A
        JOIN jue_se B
        ON A.jue_se_id = B.id
        WHERE A.zhang_hao_id = #{id}
    </select>
    <!-- 获取账号列表 end-->

    <select id="getZhangHaoByShouJiAndLeiXing"
            resultType="com.zhizhao.jwgl.jiaowuguanli.domain.zhanghao.ZhangHao">
        select A.id, A.bei_zhu,A.is_lao_shi, A.shou_ji,A.xing_bie, A.xing_ming,A.zhang_hao_lei_xing, A.mi_ma
        from zhang_hao A
        <where>
            A.shou_ji = #{shouJi}
            and A.zhang_hao_lei_xing = #{zhangHaoLeiXing}
        </where>
    </select>

    <!-- 根据账号类型获取系统账号基本信息 -->
    <select id="getZhangHaoByLeiXing" resultType="com.zhizhao.jwgl.jiaowuguanli.domain.zhanghao.ZhangHao">
        select A.id, A.bei_zhu,A.is_lao_shi, A.shou_ji,A.xing_bie, A.xing_ming,A.zhang_hao_lei_xing, A.mi_ma
        from zhang_hao A
        <where>
            A.zhang_hao_lei_xing = #{zhangHaoLeiXing}
            and A.is_deleted = 0
        </where>
        order by A.update_time desc;
    </select>
</mapper>
